<header class="col-10 mx-auto mt-2">
  <nav class="menu navbar navbar-expand-lg navbar-light bg-light">
    <div class="ml-4 navbar-brand">
      <a href="/"><img src="./assets/images/logo.png" class="img-logo" width="120" alt=""></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item ml-5 active">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" href="#">Forum</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-sm dropdown-toggle mr-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="./assets/images/user.png" width="20">
            Username
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Drop1</a>
            <a class="dropdown-item" href="#">Drop2</a>
            <a class="dropdown-item" href="#">Drop3</a>
          </div>
        </div>
        <a href="">
          <button class="btn btn-sm btn-outline-secondary pr-4 pl-4">ENG</button>
        </a>
      </form>
    </div>
  </nav>

</header>

