<nav class="m-2">
  <h5 class="text-success mt-3">Animals</h5>
  <ul class="nav flex-column text-dark" >
    <li class="nav-item">
      <a class="nav-link active" href="#">Cats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Birds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Fishes</a>
    </li>
  </ul>
  <h5 class="text-success mt-3">Price</h5>
  <form class="form" action="">
    <input class="col-6" type="text" placeholder="from">
    <input class="col-5 ml-2" type="text" placeholder="to">
    <input class="mt-4" type="radio"> <span class="text-success">  Only Animals</span>
    <br>
    <input type="radio"><span class="text-success">  Only Items</span>
  </form>
</nav>
