<div class="search row bg-success p-3 mx-auto">
  <div class="input-group mx-auto w-75">
    <input type="text" class="form-control" placeholder="Start Searching" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-secondary btn-sm" type="button" id="button-addon2"><img src="assets/images/search.png" width="20" alt=""></button>
    </div>
  </div>
  <div class="">
    <a href=""><img src="./assets/images/shoppingcart.png" width="40" alt=""></a>
  </div>
</div>

