<div class="row mt-2 ml-2">
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img1.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a></div>
  </div>
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img2.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a></div>
  </div>
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img3.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a></div>
  </div>
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img4.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a></div>
  </div>
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img5.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a></div>
  </div>
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img6.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a>
    </div>
  </div>
  <div class="card m-2" style="width: 210px;">
    <img class="card-img-top" src="assets/images/img7.jpg" width="210" height="170" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text text-truncate">Some quick example text to build on the card title.</p>
      <span>24₾</span>
      <a href="#" class="float-right"><img src="assets/images/next.png" width="20" alt=""></a></div>
  </div>
</div>
